<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user_has_gold_status? %>
    <div class="field">
      <%= f.check_box :preferred %>
      <%= f.label :preferred, 'Make this idea "preferred" - this is because you have gold status! Woo hoo!' %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :summary, "A quick summary (max #{Idea::MAX_SUMMARY_LENGTH} chars)" %><br>
    <%= f.text_field :summary, maxlength: Idea::MAX_SUMMARY_LENGTH %> 
  </div>

  <!-- <div class="field"> -->
  <!--   <%= f.label :youtube_link %><br> -->
  <!--   <%= f.text_field :youtube_link %> -->
  <!-- </div> -->
  <!--    
  <div class="field">
    <%# <%= f.label :category %><br>
    <%# <%= f.select :category, options_from_collection_for_select(Category.all, 'id', 'name') %>
  </div>
  -->
  <div class="field">
    <%= f.label :main_image do %>
    <%= image_tag @idea.main_image.url(:poster) %>
    <% end %>
    <span class="proto-blue">
      The image might not show up on this page, but it'll appear after pressing "Create idea" - we're still in beta. Sorry!
    </span>
    <%= f.file_field :main_image %>
  </div>
  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
<% end %>
