<% provide :title, "Ideas" %>
<p id="notice"><%= notice %></p>

<h1>Listing Ideas</h1>

<% if user_signed_in? %>
  <%= link_to "Post an idea", new_idea_path, class: "new_idea" %>
<% else %>
  <%= link_to "Post an idea", root_path, class: "new_idea" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= image_tag idea.main_image.url(:poster) %></td>
        <td><%= idea.title %></td>
        <td><%= idea.description %></td>
        <td><%= upvote_link_for idea %></td>
        <td><%= downvote_link_for idea %></td>
        <td><%= link_to 'Show', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idea', new_idea_path %>
