<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p class="summary">
 <%= @idea.summary %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Main image:</strong>
  <%= image_tag @idea.main_image.url(:poster) %>
</p>

<p class="votes votes-<%= @idea.id %>">
 <%= @idea.vote_tally %>
</p>

<p><%= upvote_link_for @idea %></p>
<p><%= downvote_link_for @idea %></p>
<p>
  <% if @idea.belongs_to? current_user %>
    <%= list_emails_link_for @idea %>
  <% else %>
    <%= subscribe_link_for(@idea) %>
  <% end %>
</p>

<p>
<iframe width="560" height="315" src="<%= @idea.embed_link %>" frameborder="0" allowfullscreen></iframe>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>

