<table>
  <tr>
    <th></th>
    <th>Votes</th>
    <th>Title</th>
  </tr>
  <tr>
  <% current_user.ideas.each do |idea| %>
      <td>
        <%= link_to idea_path(idea), class: "idea idea_#{idea.id}" do %>
          <%= image_tag idea.main_image.url(:medium) %>
        <% end %>
      </td>
      <td><%= vote_tally_for idea %></td>
      <td><%= link_to idea.title, idea_path(idea) %></td>
      <td><%= list_emails_link_for idea %></td>
      <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
      <!-- <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
    </tr>
  <% end %>
</table>
