<table>
  <tr>
    <th></th>
    <th>Idea name</th>
    <th>Votes</th>
    <th>Subscribers</th>
    <th>Time Created</th>
  </tr>
  <% @user_ideas.each do |idea| %>
    <tr>
      <td>
          <%= image_tag idea.main_image.url(:thumb) %>
      </td>
      <td>
        <%= link_to idea.title, idea, class: "idea_#{idea.id}" %>
      </td>
      <td><%= idea.vote_tally %></td>
      <td><%= idea.subscribers.count %></td>
      <td><%= time_ago_in_words idea.created_at %> ago</td>
    </tr>
  <% end %>
</table>
