<% provide :title, "Profile" %>

<div class="row">
  <div class="columns large-6">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <% if current_user && current_user.has_gold_credit? %>
      <%= link_to "Activate Gold Status!", 
        gold_activation_path, { class: "activate_gold_status" } %>
    <% end %>

    <%= form_for @user do |f| %>
      <div class="field">
        <%= image_tag @user.profile_picture.url(:medium) %>
        <%= f.label :profile_picture %><br>
        <%= f.file_field :profile_picture %>
      </div>

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "save_user proto-button--blue" %>
      </div>
    <% end %>

    <%= link_to "Edit Login Information", edit_user_registration_path(current_user), class: "button proto-button--red" %>
  </div>
</div>
<%= link_to "Back", :back %>
