<% provide :title, "Profile - #{@user.username}" %>

<div>
  <%= activate_gold_status_link_for @user %>
</div>

<div>
  <%= image_tag @user.profile_picture.url(:medium) %>
</div>

<% if current_user == @user %>
  <%= link_to "Edit Settings", edit_user_path(@user), class: "edit_user" %>
<% end %>


<h2>Ideas</h2>
<% if current_user && current_user.ideas.count > 0 %>
  <%= render 'user_idea_list' %>
<% else %>
  You haven't posted any ideas yet! <%= link_to "Make one here", new_idea_path, class: "new_idea" %>
<% end %>
