<nav>
  <%= link_to "Icon here", root_path, id: "icon" %>
  <%= link_to "All", ideas_path, class: "category category-all" %>
  <%= Category.all.each do |category| %>
    <%= link_to category.name, ideas_path(category: category.name), 
      class: "category category-#{category.id}" %>
  <% end %>
</nav>

<% flash.each do |name, msg| %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close alert-close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= msg %>
  </div>
<% end %>

<% if user_signed_in? %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "sign_out" %> 
<% end %>
