<nav>
  <%= link_to "Icon here", root_path, id: "icon" %>
  <%# <%= render 'layouts/category_nav_buttons' %>
</nav>

<% flash.each do |name, msg| %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <%= msg %>
  </div>
<% end %>

<% if user_signed_in? %>
  Hi, <%= link_to "#{current_user.username}", 
          edit_user_path(current_user), class: "edit_user" %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "sign_out" %> 
<% else %>
  <%= link_to "Log in",   new_user_session_path %>
  <%= link_to "Sign up",  new_user_registration_path %>
<% end %>
